.taxation-container {
  margin-top: 20px;
}


.content {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
}

.hero {
  position: relative;
  background: #9beeff;
  color: white;
  height: 200px;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid red;
}

.hero h2 {
  position: relative;
  z-index: 1;
  font-size: 4.5rem;
  margin: 0 0 10px;
  line-height: 1;
  color: rgba(255, 255, 255, 0.9);
}

.hero p {
  position: relative;
  z-index: 1;
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.4;
}

/* ========================= */

.waves {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  background-color: var(--color);
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: 500ms;
}

.waves::before,
.waves::after {
  content: '';
  position: absolute;
  width: 300vw;
  height: 300vw;
  top: -65vw;
  left: 50%;
  transform: translate(-50%, -75%);
}

.waves::before {
  border-radius: 44%;
  background: rgb(239, 176, 127);
  animation: waves 8s linear infinite;
}

.waves::after {
  border-radius: 44%;
  background: rgba(174, 91, 8, 0.5);
  animation: waves 15s linear infinite;
}

@keyframes waves {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}


    .content-container {
      display: grid;
      grid-template-columns: 3fr 1fr;
      gap: 20px;
      padding: 20px;
    }
    
    .section {
      padding: 20px;
      background-color: #e8f0f9;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    
    .section-1 {
      grid-row: span 2;
    }
    
    .section h2 {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    
    .section-1 p {
      text-decoration: none;
      line-height: 1.5;
    }
    
    .section-2 {
      background-color: #c2e2c6;
      grid-column: 2;
    }
    
    .section-2 h2 {
      background-color: #a1d2a5;
      color: white;
      padding: 8px;
      border-radius: 5px;
    }
    
    .section ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    
    .section li {
      margin-bottom: 5px;
    }
    
    .section-3 {
      background-color: #eff8fc;
      grid-column: 2;
    }
    
    .section-3 form {
      display: grid;
      gap: 10px;
      padding: 20px;
      background-color: #f5fbff;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    
    .form-group label {
      display: block;
      font-weight: bold;
    }
    
    .form-group input,
    .form-group select {
      width: 100%;
      padding: 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      
    }
    
    button[type='submit'] {
      padding: 10px 20px;
      background-color: #4caf50;
      color: white;
      border: none;
      cursor: pointer;
    }
    
    button[type='submit']:hover {
      background-color: #45a049;
    }
    