/* .team-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 30px;
    border: 1px solid red;
  }
  
  .team-member-upper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
  }
  .team-member-lower{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
  }
  
  .image-container-upper {
    position: relative;
    width: 300px;
    height: 450px;
    overflow: hidden;
    border-radius: 10px;
    margin-left: 100px;
   
  }
  .image-container-lower{
    position: relative;
    width: 300px;
    height: 450px;
    overflow: hidden;
    border-radius: 10px;
    margin-left: 100px;
  }
  
  .zoom-image {
    width: 100%;
    height: 100%;
    transition: transform 0.3s, opacity 0.3s;
  }
  
  .zoom-image:hover {
    transform: scale(1.1);
    opacity: 0.8;
  }
  
  .text-container {
    text-align: center;
  }
  
  .name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .designation {
    font-size: 18px;
    margin: 0;
  }
   */
   /***************************************************************************************************  */
   .icon-container {
    position: relative;
    z-index: 9999;
    bottom: 50px;
    left: 52.5vw;
    width: 100px;
    height: 100px;
    /* border: 1px solid red; */
  }
  .icon-container img{
    width: 100px;
    height: 100px;
    rotate: 130deg;
    border-radius: 50%;
    transition: all 0.9s;
    /* border: 1px solid blue; */
  }
  .icon-container img:hover{
   rotate: 360deg;

  }

   .team-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* border: 1px solid red; */
    width: 60vw;
    margin-left: 20vw;
    
  }
  
  .team-information {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .team-information img {
    width: 300px; /* Adjust the image size as needed */
    height: 300px;
    background-color: #007bff;
     
  }
  
  .name-designation h3 {
    margin: 0;
    text-align: center;
  }
  
  .name-designation p {
    margin: 0;
  }
  