@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@500&family=Oswald:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home-container{
    background-image: url('src/assets/HomeBg.jpg');
    background-position: center;
    background-size: 100vw 110vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 99vw;
    height: 85vh;
}
.text-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
}
.home-heading{
    font-size: 48px;
    line-height: 40px;
    /* font-weight: bolder; */
    font-weight: 600;
    font-family: Bodoni Moda;
    line-height: 50px;
    text-align: center;
}
.text-content{
 width: 400px;
 height: 150px;
 text-align: left;
 font-weight: bold;
 margin: 30px;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn{
    width: 175px;
    height: 65px;
    
    background-color: rgb(176, 248, 224);
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
    font-weight: bold;
    display: inline-block;

border-left: 4px solid rgb(0, 0, 0);
line-height: 18px;

border-bottom: 4px solid rgb(36, 36, 36);
transition: all 0.4s;
   
}
.btn:hover{
   color: white;
   background-color: rgb(84, 84, 247);
   box-shadow: 5px 10px 10px #888888;
   padding-bottom: 2px;

}