/* Navbar.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: #027dad;
  height: 80px;
  /* border: 1px solid red; */
}

.navbar-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}

.navbar-logo:hover {
  cursor: pointer;
}

.navlinks {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 200px; /* Adjust the margin value as needed */
  margin-top: 20px;
  color: aliceblue;
  /* border: 1px solid red; */
}

.navlinks a:link {
  text-decoration: none;
  /* border: 1px solid green;  */
  padding: 8px 12px;
  transition: all 0.1s;
}

/* Sub-menu styling */
.dropdown-container {
  position: relative;
}

.sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  height: 0; /* Set initial height to 0 */
  width: 350px;
  overflow: hidden; /* Hide the content initially */
  background-color: #027dad;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  transition: height 0.3s ease; /* Apply transition to height property */
}

.dropdown-container:hover .sub-menu {
  height: auto; /* Set height to 'auto' on hover */
}

.sub-menu li {
  list-style: none;
}

.sub-menu a {
  display: block;
  text-decoration: none;
  color: aliceblue;
  padding: 5px 10px;
}

.sub-menu a:hover {
  background-color: #01487e;
}

body {
  font-family: 'Open Sans', sans-serif;
}
