.feedback-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  padding: 20px;
  background-color: rgb(229, 241, 237);
}

.heading {
  text-align: center;
  margin-bottom: 20px;
  
}
.heading h2{
  font-size: 32px;
}

.feedback-card-wrapper {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 20px;
  max-width: 100vw;
  height: 500px;
  margin: 0 auto;
  /* border: 1px solid red; */
}

.feedback-cards-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid green; */
  width: 60vw;
  margin-right:7vw;
}

.feedback-card {
  flex: 0 0 calc(100% / 3);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 20px;
  height: 350px;
  /* padding: 20px; */
  border: 1px solid black;
  /* border-radius: 10px; */
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  /* margin-left: 5px; */
}

.feedback-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.feedback-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  /* border-radius: 10px; */
  margin-bottom: 10px;
}

.feedback-card h3 {
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
}

.feedback-card p {
  color: #333;
}

.left-arrow,
.right-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  
}

.left-arrow:hover,
.right-arrow:hover {
  color: #333;
}

.left-arrow {
  grid-column: 1;
}

.right-arrow {
  grid-column: 3;

}
.diamond-right{
  width: 50px;
  height: 50px;  
  transition: all 0.5s;
}
.diamond-right:hover{
  transform: translate(10px);
}
.diamond-left{
  width: 50px;
  height: 50px;
  rotate: 180deg;
  transition: all 0.5s;

}
.diamond-left:hover{
  /* padding-left: 10px; */
  transform: translate(10px);
}