.footer {
    background-color: lightblue;
    padding: 20px 0;
  }
  
  .container {
    display: grid;
    grid-template-columns: 1fr 1px 1fr 1px 1fr 1px 1fr;
    align-items: center;
    gap: 20px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 10px 0;
  }
  
  .column {
    display: flex;
    flex-direction: column;
  }
  .column li{
    text-align: center;
  }
  .heading {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .subheading {
    font-size: 14px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  .services li{
    text-align: center;
  }
  
  a {
    text-decoration: none;
    color: black;
    transition: all 0.3s;
  }
  a:hover{
    padding-left: 10px;
    
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
  }
  
  .social-icons a {
    margin-right: 10px;
  }
  
  .separator {
    width: 1px;
    background-color: rgb(120, 120, 120);
    height: 100%;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 8px;
    border: 1px solid lightgray;
    border-radius: 4px;
  }
  
  .contact-form textarea {
    height: 100px;
  }
  
  .contact-form button {
    padding: 8px 16px;
    background-color: lightgray;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.7s ease;
  }
  
  .contact-form button:hover {
    background-color: rgb(97, 97, 97);
    box-shadow: 0px 5px 10px black;
    
  }
  .fab{
    font-size: 25px;
  }
  